@model RetroFlyreiser.Model.DbModel
@{
    ViewBag.Title = "Index";
    
}
<h4>Admin område</h4>
<hr />

<div class="col-sm-3">
        <div class="list-group table-hover">
            <a class="list-group-item active"   > Index</a>
            <a class="list-group-item animated flash" href="/Home/VisViewModel"> Vis all data</a>
            <a class="list-group-item" href="/Rute/ListRuter"> Ruter</a> 
            <a class="list-group-item" href="/Flyplass/ListFlyplasser"> Flyplasser</a> 
            <a class="list-group-item" href="/Flymaskin/ListFlymaskiner"> Flymaskiner</a> 
            <a class="list-group-item" href="/Kunde/ListKunder"> Kunder</a> 
            <a class="list-group-item" href="/Poststed/ListPoststeder"> Poststeder</a> 
            <a class="list-group-item" href="/Bestilling/ListBestillinger"> Bestillinger</a>
            <a class="list-group-item" href="/Admin/ListBrukere"> Brukere </a>
            <a class="list-group-item" href="/Admin/Loginside"> Login side </a>
            <a class="list-group-item" href="/Admin/LoggUt"> Logg ut </a>
        </div>
    </div>

<!--Dummy content boxes-->
    <div class="animated slideInRight">
        <div class="col-sm-3 boks-styling animated slideInLeft">
            <span class="glyphicon glyphicon-picture"></span>
            <div class="boks-content"></div>
        </div>
        <div class="col-sm-3 boks-styling animated slideInLeft">
            <span class="glyphicon glyphicon-picture"></span>
            <div class="boks-content"></div>
        </div>
        <div class="col-sm-3 boks-styling animated slideInLeft">
            <span class="glyphicon glyphicon-picture"></span>
            <div class="boks-content"></div>
        </div>
        <div class="col-sm-3 boks-styling animated slideInLeft">
            <span class="glyphicon glyphicon-picture"></span>
            <div class="boks-content"></div>
        </div>
        <div class="col-sm-6 boks-styling animated slideInRight">
            <span class="glyphicon glyphicon-picture"></span>
            <div class="boks-content"></div>
        </div>
    </div>






    



