
@{
    ViewBag.Title = "IngenTilgang";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4>Du har ikke tilgang til denne siden.</h4>
<h5>Logg inn og prøv igjen</h5><br />
<a href="/Admin/LoginSide" class="btn btn-primary">Gå til loginside</a>

