

/* General sizing */
ul.dropdown-lr {
    width: 300px;
}

/* mobile fix */
@media (max-width: 768px) {
    .dropdown-lr h3 {
        color: #eee;
    }

    .dropdown-lr label {
        color: #eee;
    }
}

.shadow{
    text-shadow:2px 2px 2px;
}

.font{
    
    font-size:13px;
}

.font-bigger {
    font-size: 20px;
}


#background {
    background-image: url('background.jpg');
    -webkit-box-shadow: 10px 10px 76px 0px rgba(77,77,77,1);
    -moz-box-shadow: 10px 10px 76px 0px rgba(77,77,77,1);
    box-shadow: 10px 10px 76px 0px rgba(77,77,77,1);
}

#jumboBox {

    color:white;
}

body {
    background-color: whitesmoke;
    font-family: 'Open Sans',sans-serif;
    padding-top: 90px;
}

.container{
    padding:0.7em;
}
.custom-navbar {
    margin: 20px;
}


.navbar-inverse .navbar-brand {
    color: #ecf0f1;
    /*font-size: 120%;*/
}

.navbar-default .navbar-brand {
    margin-right: 1em;
    color: #ECF0F1;
}

.navbar-default .navbar-brand:hover {

    color: lightgrey;

}

div .navbar {
    background-color: #2574A9;
    border-color: #080808;
}

.navbar-default .navbar-nav > li > a {
    color: #ECF0F1;
    /*font-size:100%;*/
}

.navbar-default .navbar-nav > li > a:hover {
    color: #ECF0F1;
    /*font-size: 110%;*/
    background-color: #2980b9;
}

.divider {
    margin-left:0.1em;
    margin-right:0.3em;
    border-left: 1px solid lightgrey;
    
    

}

.dropdown-menu {

    background-color: #2980b9;

}
.dropdown-menu a{
    color: #2980b9;
    /*font-size:100%;*/
    font-family: 'Open Sans',sans-serif;
}


.boks-styling {
    text-align: center;
    border: 1em solid #ecf0f1;
    background-color: #2980b9;
    color: lightgrey;
    padding: 1em;
    opacity: 0.5;
}

.glyphicon {

    line-height:0.8;
}

.glyphicon-plane {
    font-size: 400%;
}
.glyphicon-picture {
    font-size: 800%;
}

span .glyphicon-user {
      
    font-size: 150%;
}
.glyphicon-user:hover {
    color:lightgrey;

}

#drop{
    width:350%;
    height:200%;
    /*font-size:150%;*/
    text-align:center;
    display:inline;
    opacity:0.6;
}
#login{

    background-color:lightgray;
    padding:5em;

}

#loggut{
    color:white;
    /*font-size:200%;*/
}


span .glyphicon-sort{
    font-size:10%;
}

.logo{

    /*text-shadow:1px 1px 1px black;*/
}

.admin {
    text-shadow: 1px 1px 1px darkgray;
}

.lines{
    color:darkgrey;
}

